* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  margin: 0;
  font-family:Helvetica,Sans-serif;
  overflow-x:hidden;

}
h1 {
  text-align:center;
  color: white
}
.page {
  width:100vw;
  height:100vh;
  perspective:1px;
  perspective-origin: center center;
  overflow-x:hidden;
}

section {
    padding: 100px 200px;
}

.home {
  position: absolute;
  width:100%;
  height: 100vh;
  top:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #230414;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;

}

.home .content h2 {
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h2 span {
    font-size: 1.2em;
    font-weight: 600;
    color: #FF7F50;
}

.home .content p {
    margin-bottom: 65px;
}

.wrapper {
  position:absolute;
  width:100vw;
  height:80vh;
  top:100vh;
  background-color: #230414;
  display: flex;
  align-items: center;
  justify-content: center;
}
#parallax {
  transform-style: preserve-3d;
  height: 120vh;
}

.keyart_layer {
  background-position: bottom;
  background-size: cover;
  background-repeat: repeat-x;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

@keyframes slide_Left{
    from {
        transform:translate3d( -1200px, 70px, -1.3px) scale(2.3);
    }
    to {
        transform:translate3d( -600px, 70px, -1.3px) scale(2.3);
    }
}

@keyframes slide_Left1{
    from {
        transform:translate3d( -850px, 210px, -1.3px) scale(2.3);
    }
    to {
        transform:translate3d( -250px, 210px, -1.3px) scale(2.3);
    }
}

@keyframes slide_Right{
    from {
          transform:translate3d( 1950px, 80px, -1.3px) scale(2.3);
    }
    to {
          transform:translate3d( 1350px, 80px, -1.3px) scale(2.3);
    }
}


 @keyframes slide_Right1{
    from {
          transform:translate3d( 1850px, 505px, -1.3px) scale(2.3);
    }
    to {
          transform:translate3d( 1250px, 505px, -1.3px) scale(2.3);
    }
}
@keyframes slide_Down{
    from {
        transform: translateY(600px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slide_Up{
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}

#keyart-0 {
  background-image: url('../images/2.png');
  height: 550px;
  top: 300px;
  left: px;
  animation-name: slide_Up;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;


}
#keyart-1 {
  background-image: url('../images/3.png');
  height: 450px;
  top: 390px;
    animation-name: slide_Up;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
#keyart-2 {
  background-image: url('../images/4.png');
  height: 550px;
  top: 300px;
    animation-name: slide_Up;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
#keyart-3 {
  background-image: url('../images/5.1.png');
  max-width: 35%;
  max-height: 35%;
  top: 320px;
  transform:translate3d( -600px, 70px, -1.3px) scale(2.3);
  animation-name: slide_Left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;



}

#keyart-4 {
  background-image: url('../images/5.2.png');
  max-width: 40%;
  max-height: 30%;
  top: 320px;
  transform:translate3d( 1350px, 80px, -1.3px) scale(2.3);
  animation-name: slide_Right;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

#keyart-5 {
  background-image: url('../images/6.1.png');
  width: 500px;
  height: 400px;
  top: 320px;
  transform:translate3d( -250px, 210px, -1.3px) scale(2.3);
  animation-name: slide_Left1;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

#keyart-6 {
  background-image: url('../images/6.2.png');
  max-width: 550px;
  max-height: 450px;
  top: 20px;
  transform:translate3d( 1250px, 505px, -1.3px) scale(2.3);
  animation-name: slide_Right1;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


#keyart-7 {
  background-image: url('../images/last.jpg');
  height: 80%;
  transform:translate3d( -11px, -46px, -1.3px) scale(2.3);
}



header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 10px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


header .Group {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../images/A.png');
}
.card[for="c2"] {
    background-image: url('../images/E.png');
}
.card[for="c3"] {
    background-image: url('../images/B.png');
}
.card[for="c4"] {
    background-image: url('../images/D.png');
}
.card[for="c5"] {
    background-image: url('../images/F.jpg');
}